<a href="https://colab.research.google.com/github/samuelvarela2008/aplicacion-de-historia-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
## tipos de datos flotantes (decimales)
num = 10
type(num)

int

In [15]:
## tipos de datos flotantes(enteros)
num = 10.5
type(num)

float

In [14]:
## tipo de datos print
print("hola")

hola

In [13]:
## tipos de dato string(cadena/texto)
name = "samuel"
type(name)    % * /

str

In [26]:
## operadores matematicos ejemplo:convertir grador farenheigt
celcius =32.5
fahrenheit = (celcius * (9/5) ) + 32
print(fahrenheit)

90.5

In [48]:
##Funcions 
def convertidor_grados(celcius):
   Fahrenheit= (celcius * (9/5)) + 32 
   return Fahrenheit

In [49]:
convertidor_grados(32.5)

90.5

In [51]:
## metodo input
cel = input()

12

In [52]:
print(cel)
type(cel)

12

str

In [53]:
entrada = input("ingresa la temperatura")

ingresa la temperatura32.5

In [55]:
print(entrada)

32.5